@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
</div>

@using (Html.BeginForm("MyPost", "Home"))
{
    <div class="row">
        <div class="col-md-3">
            <input type="button" value="Please click on me" />
        </div>
    </div>
}
